alias codex="code . && exit"
alias phpon="sudo systemctl start httpd && sudo systemctl start mariadb"
alias phpoff="sudo systemctl stop httpd && sudo systemctl stop mariadb"
alias publicip="curl http://checkip.amazonaws.com"
alias ss="systemctl suspend"
alias sleep="systemctl suspend"
alias take-snapshot="sudo btrfs subvolume snapshot / /Backup/$(date +'%d-%b-%Y')"
alias gnomequit="gnome-session-quit --logout"
alias gnomequitx="gnome-session-quit --logout --no-prompt"
alias get="sudo dnf install"
# alias ls="lsd"
alias speedtest="speedtest-cli"

